<!DOCTYPE html>
<html>
	<head>
		<tittle>search-Product</tittle>
	</head>
	<body>
		<div>
			<h2>search for product</h2>
			<form th:action="@{/searchById}" method="post">
				<label for="id">Enter-ID:</label>
				<input type="number" name="id" id="id" requried>
				<button type="submit">search</button>
			</form>
		</div>

		
		<div th:if="${product != null}">
		    <h3>Product Details</h3>
		    <p><strong>ID:</strong> <span th:text="${product.id}"></span></p>
		    <p><strong>Name:</strong> <span th:text="${product.name}"></span></p>
		    <p><strong>Brand:</strong> <span th:text="${product.brand}"></span></p>
		    <p><strong>Quantity:</strong> <span th:text="${product.quantity}"></span></p>
		    <p><strong>Price:</strong> <span th:text="${product.price}"></span></p>
		    <p><strong>Made In:</strong> <span th:text="${product.madein}"></span></p>
		    <p><strong>Tax Rate:</strong> <span th:text="${product.taxrate}"></span></p>
		    <p><strong>Discount Price:</strong> <span th:text="${product.discountprice}"></span></p>
		    <p><strong>Offer Price:</strong> <span th:text="${product.offerprice}"></span></p>
		    <p><strong>Final Price:</strong> <span th:text="${product.finalprice}"></span></p>
		    <p><strong>Stock Value:</strong> <span th:text="${product.stockvalue}"></span></p>
			
		</div>

		
		<div th:if="${product == null}">
		    <p>No product available with this ID</p>
		</div>

	</body>
</html>